<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=1024, user-scalable=no">

	<title>Mozilla Web Dev with Python</title>
	
	<!-- Required stylesheet -->
	<link rel="stylesheet" href="core/deck.core.css">
	
	<!-- Extension CSS files go here. Remove or add as needed. -->
	<link rel="stylesheet" href="extensions/goto/deck.goto.css">
	<link rel="stylesheet" href="extensions/menu/deck.menu.css">
	<link rel="stylesheet" href="extensions/navigation/deck.navigation.css">
	<link rel="stylesheet" href="extensions/status/deck.status.css">
	<link rel="stylesheet" href="extensions/hash/deck.hash.css">
	<link rel="stylesheet" href="extensions/scale/deck.scale.css">
  <link rel="stylesheet" href="extensions/codemirror/deck.codemirror.css"/>
  <link rel="stylesheet" href="extensions/codemirror/themes/lesser-dark.css"/>
  <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet" />
	<link rel="stylesheet" href="/deckjs-remote.css">

	<!-- Style theme. More available in /themes/style/ or create your own. -->
	<link id="theme" rel="stylesheet" href="themes/style/mozilla/sandstone.default.css">
	
	<!-- Transition theme. More available in /themes/transition/ or create your own. -->
  <link rel="stylesheet" href="themes/transition/fade.css">
	
	<!-- Required Modernizr file -->
	<script src="modernizr.custom.js"></script>
</head>
<body class="deck-container deck-codemirror">
  <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>

<!-- Begin slides. Just make elements with a class of slide. -->

<section class="slide">
  <h2>Mozilla Web Dev with Python</h2>
  <h3>Luke Crouch</h3>
	<h1>pyark.jit.su/deck</h1>
</section>

<section class="slide">
  <h2>Luke</h2>
  <h3>groovecoder</h3>
  <ul>
    <li><a href="http://groovecoder.com">groovecoder.com</a></li>
    <li><a href="http://twitter.com/groovecoder">@groovecoder</a></li>
    <li><a href="http://github.com/groovecoder">github.com/groovecoder</a></li>
    <li>irc.mozilla.org, irc.freenode.net</li>
  </ul>
</section>

<section class="slide">
  <h2>Luke</h2>
  <ul>
    <li class="slide">Dad</li>
    <li class="slide">Homebrewer</li>
    <li class="slide">Webdev</li>
  </ul>
</section>

<section class="slide">
  <h2>Webdev</h2>
  <ul>
    <li class="slide">Intranet webapps - Java, ColdFusion, PHP</li>
    <li class="slide">SourceForge.net - PHP, Java, Python</li>
    <li class="slide">Mozilla - javascript, Python</li>
  </ul>
</section>

<section class="slide">
  <h2>Python</h2>
  <ul>
    <li class="slide">2 years</li>
    <li class="slide"><3</li>
    <li class="slide">learning from smart python dev's at Mozilla</li>
  </ul>
</section>

<section class="slide">
  <h2>Mozilla</h2>
  <h1>openness<br/>innovation<br/>opportunity</h1>
</section>

<section class="slide">
  <h2>Mozilla</h2>
  <ul>
    <li class="slide">support the mission</li>
    <li class="slide">2 years</li>
    <li class="slide">MDN</li>
  </ul>
</section>

<section class="slide">
  <h2>How?</h2>
  <h3>Web sites and platforms to support:</h3>
  <ul>
    <li class="slide">Firefox</li>
    <li class="slide">Firefox OS</li>
    <li class="slide">Open Web Apps</li>
    <li class="slide">Persona</li>
  </ul>
</section>

<section class="slide">
  <h2>Who?</h2>
  <div style="float: left;">
    <h4>Dev's</h4>
    <ul>
      <li>Webdev</li>
      <li>Websites</li>
      <li>Foundation</li>
      <li>Labs</li>
      <li>Services</li>
      <li>okay, everyone</li>
    </ul>
  </div>
  <div class="slide" style="float: left;">
    <h4>And ...</h4>
    <ul>
      <li>QA/WebQA</li>
      <li>InfraSec/WebSec</li>
      <li>IT/WebOps</li>
      <li>Legal</li>
      <li>Localization</li>
      <li>so yeah - everyone!</li>
    </ul>
  </div>
</section>

<section class="slide">
  <h2>How many sites?</h2>
  <h3><a href="https://wiki.mozilla.org/Websites/Active_List">Hundreds</a></h3>
  <iframe src="https://wiki.mozilla.org/Websites/Active_List"></iframe>
</section>

<section class="slide">
  <h2>&nbsp;</h2>
  <div style="float: left">
    <h4>Webdev</h4>
    <ul>
      <li class="slide"><a href="https://addons.mozilla.org">Addons (AMO)</a>
      <ul><li>48M visitors/month</li></ul></li>
      <li class="slide"><a href="https://support.mozilla.org">Support (SUMO)</a>
      <ul><li>41M visitors/month</li></ul></li>
      <li class="slide"><a href="https://developer.mozilla.org">Developer (DEVMO/MDN)</a>
      <ul><li>4<span class="slide">.5</span>M visitors/month</li></ul></li>
      <li class="slide"><a href="https://crash-stats.mozilla.org">crash-stats</a>
      <ul><li>?? visitors/month</li></ul></li>
    </ul>
  </div>
  <div style="float: left">
    <h4>Websites</h4>
    <ul>
      <li class="slide"><a href="https://mozilla.org">mozilla.org</a>
      <ul><li>432M visitors/month</li></ul></li>
      <li class="slide"><a href="https://wiki.mozilla.org/Websites/Snippets">snippets</a>
      <ul><li>??B visitors/month</li></ul></li>
      <li class="slide"><a href="https://blog.mozilla.org">blog.mozilla.org</a> (WordPress)</li>
    </ul>
  </div>
  <div style="float: left">
    <h4>Foundation</h4>
    <ul>
      <li class="slide"><a href="https://openbadges.org">openbadges.org</a></li>
      <li class="slide"><a href="https://webmaker.org">webmaker.org</a></li>
      <li class="slide"><a href="http://mozillapopcorn.org/">mozillapopcorn.org</a></li>
    </ul>
    <h4>Labs</h4>
    <ul>
      <li class="slide"><a href="https://persona.org">persona.org</a> (node.js)</li>
    </ul>
  </div>
</section>

<section class="slide">
  <h2>Before 2009</h2>
  <ul>
    <li>Drupal</li>
    <li>CakePHP</li>
    <li>Kohana</li>
    <li>WordPress</li>
  </ul>
</section>

<section class="slide">
  <h2>2009</h2>
  <h1>AMO outgrows CakePHP</h1>
</section>

<section class="slide">
  <h2>"Scaling"</h2>
  <ul>
    <li class="slide">vertically - visitors &amp; traffic</li>
    <li class="slide">horizontally - across teams</li>
    <li class="slide">communally - across locales</li>
    <li class="slide">conceptually - across knowledge levels</li>
  </ul>
</section>

<section class="slide">
  <h2>2009+</h2>
  <img src="http://backcode.com/wp-content/uploads/2012/01/Djangsta_T-shirt.jpg"/>
</section>

<section class="slide">
  <h1><a href="http://playdoh.readthedocs.org/en/latest/">playdoh</a></h1>
</section>

<section class="slide">
  <h2>playdoh</h2>
  <ul>
    <li>libraries</li>
    <li>tools</li>
    <li><a href="http://playdoh.readthedocs.org/en/latest/">docs</a></li>
    <li class="slide">not apps (i.e., not pinax)</li>
  </ul>
</section>

<section class="slide">
  <h2>playdoh libraries & tools for:</h2>
  <ul>
    <li>Getting Started</li>
    <li>Performance</li>
    <li>Security</li>
    <li>Localization</li>
  </ul>
</section>

<section class="slide">
  <h2>playdoh libraries & tools for:</h2>
  <ul>
    <li><span style="font-size: 5em">Getting Started</span></li>
    <li>Performance</li>
    <li>Security</li>
    <li>Localization</li>
  </ul>
</section>

<section class="slide">
  <h2>playdoh / getting started / <a href="https://github.com/mozilla/funfactory">funfactory</a></h2>
  <textarea id="funfactory-code" class="code" mode="python" theme="lesser-dark">
pip install funfactory

funfactory --pkg=newsite

mysql -u root -e 'create database newsite;'
./manage.py syncdb
./manage.py runserver 0.0.0.0:8000</textarea>
  <ul>
    <li class="slide"><a href="http://djangoproject.com/">django</a></li>
    <li class="slide"><a href="http://mysql.com">MySQL</a></li>
    <li class="slide"><a href="http://jinja.pocoo.org/">Jinja2</a> (with <a href="https://github.com/jbalogh/jingo">jingo</a>)</li>
    <li class="slide"><a href="https://nose.readthedocs.org/en/latest/">nose</a> (and <a href="https://github.com/jbalogh/django-nose">django-nose</a>)</li>
  </ul>
</section>

<section class="slide">
  <h2><a href="https://github.com/jbalogh/jingo">jingo</a></h2>
  <h3>settings.py</h3>
  <textarea id="jingo-settings-code" class="code" mode="python" theme="lesser-dark">TEMPLATE_LOADERS += ( 'jingo.Loader', )</textarea>
  <h3>views.py</h3>
<textarea id="jingo-view-code" class="code" mode="python" theme="lesser-dark">
from django.shortcuts import render


def my_view(request):
    render('my/template.html', {'foo': 'bar'})</textarea>
</section>

<section class="slide">
  <h2>playdoh / getting started / <a href="https://github.com/jbalogh/django-nose">django-nose</a></h2>
  <h3>fast fixtures, REUSE_DB=1, nose plugins!</h3>
  <h4>settings.py</h4>
  <textarea id="django-nose-settings-code" class="code" mode="python" theme="lesser-dark">INSTALLED_APPS += ( 'django_nose', )
TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'</textarea>
  <h4>views.py</h4>
<textarea id="django-nose-views-code" class="code" mode="python" theme="lesser-dark">@attr('toc')
  def test_toc_toggle_off(self):</textarea>
  <h4>command</h4>
<textarea id="django-nose-command" class="code" mode="python" theme="lesser-dark">./manage.py test wiki -atoc
nosetests --verbosity 1 wiki -atoc
.....
----------------------------------------------------------------------
Ran 5 tests in 1.582s

OK
</textarea>
</section>

<section class="slide">
  <h2>playdoh libraries & tools for:</h2>
  <ul>
    <li>Getting Started</li>
    <li><span style="font-size: 5em;">Performance</span></li>
    <li>Security</li>
    <li>Localization</li>
  </ul>
</section>

<section class="slide">
  <h2>Performance</h2>
  <ul>
    <li>Many millions of monthly visitors</li>
    <li>Hacker News, Reddit, Slashdot, Digg, etc.</li>
    <li>Global latency</li>
  </ul>
</section>

<section class="slide">
  <h2 style="font-size: 2em;">playdoh / performance / <a href="https://github.com/jbalogh/django-cache-machine">django-cache-machine</a></h2>
  <h3>Automatic QuerySet caching</h3>
  <h4>models.py</h4>
  <textarea id="django-cache-machine-code" class="code" mode="python" theme="lesser-dark">from django.db import models

import caching.base

class Document(caching.base.CachingMixin, models.Model):
    ...
    objects = caching.base.CachingManager()</textarea>
  <h4>list.html</h4>
  <textarea id="django-cache-machine-template-code" class="code" mode="python" theme="lesser-dark">env = jinja2.Environment(extension=['caching.ext.cache'])

{% cache revisions %}
  {% for revision in revisions %}
  ...
  {% endfor %}
{% endcache %}</textarea>
</section>

<section class="slide">
  <h2 style="font-size: 2em;">playdoh / performance / <a href="https://github.com/jbalogh/django-multidb-router">django-multidb-router</a></h2>
  <h3>Round-robin master/slave db router</h3>
  <h4>settings.py</h4>
  <textarea id="django-cache-machine-code" class="code" mode="python" theme="lesser-dark">DATABASES = {
    'default': { ... },
    'slave-1': { ... },
    'slave-2': { ... },
}
SLAVE_DATABASES = ['slave-1', 'slave-2']

DATABASE_ROUTERS += ('multidb.MasterSlaveRouter',)</textarea>
</section>

<section class="slide">
  <h2>playdoh / getting started / <a href="http://pypi.python.org/pypi/django-celery">django-celery</a></h2>
  <h4>settings.py</h4>
  <textarea id="django-celery-settings-code" class="code" mode="python" theme="lesser-dark">INSTALLED_APPS += ( 'djcelery', )


import djcelery
djcelery.setup_loader()</textarea>
  <h4>tasks.py</h4>
  <textarea id="django-celery-tasks-code" class="code" mode="python" theme="lesser-dark">from celery.task import task


@task
def render_document(doc, cache_control, base_url):
    doc.render(cache_control, base_url)</textarea>
</section>

<section class="slide">
  <h2>playdoh / performance / <a href="https://github.com/jsocol/jingo-minify/">jingo-minify</a></h2>
  <h3>Bundle & Minify Static Assets</h3>
  <h4>settings.py</h4>
  <textarea id="jingo-minify-settings" class="code" mode="python" theme="lesser-dark">
INSTALLED_APPS += ( 'jingo_minify', )

MINIFY_BUNDLES = {
    'css': {
        'common': (
            'css/reset.css',
            'css/layout.css',
        ),
    },
    'js': {
        'common': (
            'js/lib/jquery.js',
            'js/common.js',
        ),
    },
}
</textarea>
</section>

<section class="slide">
  <h2>playdoh / performance / <a href="https://github.com/jsocol/jingo-minify/">jingo-minify</a></h2>
  <h3>settings.py</h3>
  <textarea id="jingo-minify-bin-code" class="code" mode="python" theme="lesser-dark">
JAVA_BIN = '/path/to/java'
or
UGLIFY_BIN = '/path/to/uglifyjs'
CLEANCSS_BIN = '/path/to/cleancss'</textarea>
  <h3>command</h3>
  <textarea id="jingo-minify-command" class="code" mode="python" theme="lesser-dark">./manage.py compress_assets

common-all.css
common-all.js
common-min.css
common-min.js</textarea>
</section>

<section class="slide">
  <h2>playdoh / performance / <a href="https://github.com/jsocol/jingo-minify/">jingo-minify</a></h2>
  <h3>base.html</h3>
  <textarea id="jingo-minify-template-code" class="code" mode="python" theme="lesser-dark">
  <head>
    <title>{{ title }}</title>
    {{ css('common') }}
  </head>
  <body>
    <h1>Welcome</h1>
    {{ js('common') }}
  </body></textarea>
  <h3>base.html output</h3>
  <textarea id="jingo-minify-template-output" class="code" mode="python" theme="lesser-dark">
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="//domain/css/common-min.css?build=d689baf" />
  </head>
  <body>
    <h1>Welcome</h1>
    <script src="//domain/js/common-min.js?build=d689baf"></script> 
  </body></textarea>
</section>

<section class="slide">
  <h2>playdoh libraries & tools for:</h2>
  <ul>
    <li>Getting Started</li>
    <li>Performance</li>
    <li><span style="font-size: 5em">Security</span></li>
    <li>Localization</li>
  </ul>
</section>

<section class="slide">
  <h2>Security</h2>
  <h1>User sovereignty</h1>
</section>

<section class="slide">
  <h2>playdoh / security / <a href="https://github.com/fwenzel/django-sha2">django-sha2</a></h2>
  <h3>monkey-patch for stronger password hashing</h3>
  <h4>settings.py</h4>
  <textarea id="django-sha2-settings" class="code" mode="python" theme="lesser-dark">INSTALLED_APPS += (
    'django.contrib.auth',
    'django_sha2',
)


PWD_ALGORITHM = 'bcrypt' # or sha512, sha512b64, sha256
BCRYPT_ROUNDS = 12


HMAC_KEYS = {
    '2011-01-01': 'SecretKey',
    '2012-01-01': 'AnotherSecretKey',
}</textarea>
</section>

<section class="slide">
  <h2>Security</h2>
  <h1>Get rid of passwords</h1>
</section>

<section class="slide">
  <h2>Security</h2>
  <a href="https://persona.org"><img src="http://www.geeky-gadgets.com/wp-content/uploads/2012/09/Mozilla-Persona.jpg"/></a>
</section>

<section class="slide">
  <h2>playdoh / security / <a href="https://github.com/mozilla/django-browserid">django-browserid</a></h2>
  <h3>django library for BrowserID</h3>
  <h4>settings.py</h4>
  <textarea id="django-browserid-settings" class="code" mode="python" theme="lesser-dark">INSTALLED_APPS += (
    'django.contrib.auth',
    'django_browserid',
)

AUTHENTICATION_BACKENDS += ('django_browserid.auth.BrowserIDBackend',)

TEMPLATE_CONTEXT_PROCESSORS += ( 'django_browserid.context_processors.browserid_form', )

SITE_URL = 'https://127.0.0.1:8000'</textarea>
  <h4>urls.py</h4>
  <textarea id="django-browserid-urls" class="code" mode="python" theme="lesser-dark">urlpatterns += patterns('',
    (r'^browserid/', include('django_browserid.urls')),
)</textarea>
</section>

<section class="slide">
  <h2>playdoh / security / <a href="https://github.com/mozilla/django-browserid">django-browserid</a></h2>
  <h3>django library for BrowserID</h3>
  <h4>login.html</h4>
  <textarea id="django-browserid-login" class="code" mode="python" theme="lesser-dark">{% if not user.is_authenticated %}

  {{ browserid_form.media }}

  <a id="browserid" href="#">Sign In</a>

  <form method="POST" action="{% url browserid_verify %}">
    {% csrf_token %}
    {{ browserid_form.as_p }}
  </form>

{% endif %}</textarea>
</section>

<section class="slide">
  <h2>playdoh / security / <a href="https://github.com/mozilla/django-session-csrf">django-session-csrf</a></h2>
  <h3>monkey-patch django csrf to use sessions instead of cookies</h3>
  <h4>settings.py</h4>
  <textarea id="django-session-csrf" class="code" mode="python" theme="lesser-dark">TEMPLATE_CONTEXT_PROCESSORS = (
    ...
    'session_csrf.context_processor',
    ...
)

MIDDLEWARE_CLASSES = (
    ...
    'session_csrf.CsrfMiddleware',
    ...
)

import session_csrf
session_csrf.monkeypatch()
  </textarea>
</section>

<section class="slide">
  <h2>playdoh / security / <a href="https://github.com/jsocol/bleach/">bleach</a></h2>
  <h3>whitelist HTML sanitizer</h3>
  <h4>models.py</h4>
  <textarea id="bleach-code" class="code" mode="python" theme="lesser-dark">import bleach

ALLOWED_TAGS = bleach.ALLOWED_TAGS + ['pre',]
ALLOWED_ATTRIBUTES = bleach.ALLOWED_ATTRIBUTES
ALLOWED_ATTRIBUTES['pre'] = ['id', 'class',]
ALLOWED_STYLES = ['border', 'background',]
  
bleach.clean(user_input,
             tags=ALLOWED_TAGS,
             attributes=ALLOWED_ATTRIBUTES,
             styles=ALLOWED_STYLES)</textarea>
</section>

<section class="slide">
  <h2>playdoh libraries & tools for:</h2>
  <ul>
    <li>Getting Started</li>
    <li>Performance</li>
    <li>Security</li>
    <li><span style="font-size: 5em">Localization</span></li>
  </ul>
</section>

<section class="slide">
  <h2>Localization</h2>
  <ul>
    <li>10-40 languages per website</li>
    <li>LTR and RTL</li>
    <li>Volunteer driven</li>
  </ul>
</section>

<section class="slide">
  <h2>playdoh / localization / <a href="https://github.com/clouserw/tower">tower</a></h2>
  <h3>mark strings with gettext, Babel and Jinja</h3>
  <h4>settings.py</h4>
  <textarea id="tower-settings-code" class="code" mode="python" theme="lesser-dark">INSTALLED_APPS += ('tower',)

def JINJA_CONFIG():
    config = {'extensions': ['tower.template.i18n',]}


TOWER_KEYWORDS = {
    '_lazy': None
}</textarea>
  <h4>views.py</h4>
  <textarea id="tower-views-code" class="code" mode="python" theme="lesser-dark">from tower import ugettext_lazy as _lazy, ugettext as _

    verbose_name = _("Document Tag")</textarea>
  <h4>document.html</h4>
  <textarea id="tower-template-code" class="code" mode="python" theme="lesser-dark"><label from="language">{{ _('Other languages:') }}</label></textarea>
</section>

<section class="slide">
  <h2>playdoh / localization / <a href="https://github.com/clouserw/tower">tower</a></h2>
  <h3>extract strings and commit to svn</h3>
  <h4>command</h4>
  <textarea id="tower-command" class="code" mode="python" theme="lesser-dark">./manage.py extract
./manage.py verbatimize --rename

cd locale
svn up
svn ci -m "MDN string update YYYY-MM-DD"</textarea>
  <h4><a href="https://localize.mozilla.org/">Mozilla Verbatim</a></h4>
</section>

<section class="slide">
  <h2>playdoh libraries & tools for:</h2>
  <ul>
    <li>Getting Started</li>
    <li>Performance</li>
    <li>Security</li>
    <li>Localization</li>
  </ul>
</section>

<section class="slide">
  <h1>(MDN) Process</h1>
</section>

<section class="slide">
  <h2>process / bug-tracking</h2>
  <ul>
    <li><a href="http://bugzilla.mozilla.org/">bugzilla</a></li>
    <li class="slide">NOT bugzilla</li>
    <li class="slide"><a href="http://scrumbu.gs/t/mdn/2012-07-03/">Scrumbu.gs</a></li>
    <li class="slide"><a href="https://wiki.mozilla.org/MDN/Development/Meetings">Bi-weekly Scrum meetings</a></li>
  </ul>
</section>

<section class="slide">
  <h2>process / code management</h2>
  <ul>
    <li><a href="https://github.com/mozilla/">github</a> (450 public repos)</li>
    <li class="slide">kinda <a href="http://jeffkreeftmeijer.com/2010/why-arent-you-using-git-flow/">git-flow</a>y</li>
    <li class="slide">service hooks
      <ul>
        <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=800005#c2">Bugzilla</a> "fix bug NNNNNN - ..."</li>
        <li>IRC</li>
    </li>
  </ul>
</section>

<section class="slide">
  <h2>process / continuous integration</h2>
  <ul>
    <li><a href="https://ci.mozilla.org/job/mdn/">jenkins</a></li>
    <li><a href="https://github.com/mozilla/kuma/pull/668">leeeroooooooooooooy</a></li>
  </ul>
</section>

<section class="slide">
  <h2>process / continuous deployment</h2>
  <ul>
    <li><a href="https://developer-dev.allizom.org/">dev</a>, <a href="https://developer.allizom.org">stage</a>, <a href="https://developer.mozilla.org/">prod</a> servers</li>
  </ul>
  <h3 class="slide">dev</h3>
  <ul>
    <li class="slide">Deployed after every commit</li>
  </ul>
  <h3 class="slide"><a href="https://developer.mozilla.org/en-US/docs/User:lmorchard/TestGithubTemplate">What's on deck</a> (<a href="https://developer.allizom.org/media/revision.txt">src</a>)</h3>
  <h3 class="slide">stage & prod</h3>
  <ul>
    <li class="slide">1-button deploy with <a href="https://github.com/jbalogh/chief">chief</a> and <a href="https://github.com/oremj/commander">commander</a></li>
  </ul>
</section>

<section class="slide">
  <h2 style="font-size: 2em;">playdoh / continuous deployment / <a href="https://github.com/jsocol/django-waffle">django-waffle</a></h2>
  <h3>settings.py</h3>
  <textarea id="django-waffle-settings-code" class="code" mode="python" theme="lesser-dark">INSTALLED_APPS += ( 'waffle', )</textarea>
  <h3>views.py</h3>
  <textarea id="django-waffle-views-code" class="code" mode="python" theme="lesser-dark">import waffle


def my_view(request):
    if waffle.flag_is_active(request, 'flag_name'):
        pass  # do the feature</textarea>
  <h3>recent example</h3>
  <ul>
    <li><a href="https://github.com/mozilla/kuma/blob/master/apps/dashboards/views.py#L132">code</a></li>
    <li><a href="https://developer.mozilla.org/en-US/revisions">link</a></li>
  </ul>
</section>

<section class="slide">
  <h2 style="font-size: 2em;">playdoh / continuous deployment / <a href="https://github.com/andymckay/django-statsd/">django-statsd</a></h2>
  <h5><a href="http://graphite.wikidot.com/">Graphite</a></h5>
  <h3>settings.py</h3>
  <textarea id="django-statsd-settings-code" class="code" mode="python" theme="lesser-dark">MIDDLEWARE_CLASSES += (
    'django_statsd.middleware.GraphiteRequestTimingMiddleware',
    'django_statsd.middleware.GraphiteMiddleware',
    )</textarea>
  <h3>views.py</h3>
  <textarea id="django-statsd-code" class="code" mode="python" theme="lesser-dark">from django_statsd.clients import statsd

statsd.incr('browserid_register')</textarea>
  <h3>recent example</h3>
  <ul>
    <li><a href="https://github.com/mozilla/kuma/blob/master/apps/users/views.py#L165">code</a></li>
    <li><a href="https://developer.mozilla.org/">link</a></li>
  </ul>
</section>

<section class="slide">
  <h1>&lt;sales-pitch&gt;<br/><a href="https://wiki.mozilla.org/Webdev/GetInvolved">join us!</a><br/>&lt;/sales-pitch&gt;</h1>
</section>

<section class="slide">
  <h2>Seriously, join us</h2>
  <ul>
    <li class="slide">Easy
      <ul>
        <li><a href="https://wiki.mozilla.org/Webdev/GetInvolved/developer.mozilla.org#Mentored_Bugs">MDN mentored bugs</a></li>
        <li><a href="http://whatcanidoformozilla.org/">What can I do for Mozilla?</a></li>
        <li><a href="https://careers.mozilla.org/en-US/">We're hiring</a></li>
      </ul>
    </li>
    <li class="slide">Important</li>
      <ul>
        <li class="slide">On Mobile, closed is the default
          <ul>
            <li><a href="https://www.mozilla.org/en-US/firefoxos/">Firefox OS</a> / <a href="https://wiki.mozilla.org/Gaia/Hacking">Gaia</a></li>
            <li><a href="https://www.mozilla.org/en-US/apps/">Open Web Apps / Marketplace</a></li>
          </ul>
        </li>
        <li class="slide">Social Identity Lock-in
          <ul>
            <li><a href="https://persona.org">Persona</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>

<section class="slide">
  <h2>Seriously, join us</h2>
  <ul>
    <li>Easy
      <ul>
        <li><a href="https://wiki.mozilla.org/Webdev/GetInvolved/developer.mozilla.org#Mentored_Bugs">MDN mentored bugs</a></li>
        <li><a href="http://whatcanidoformozilla.org/">What can I do for Mozilla?</a></li>
        <li><a href="https://careers.mozilla.org/en-US/">We're hiring</a></li>
      </ul>
    </li>
    <li >Important</li>
      <ul>
        <li >On Mobile, closed is the default
          <ul>
            <li><a href="https://www.mozilla.org/en-US/firefoxos/">Firefox OS</a> / <a href="https://wiki.mozilla.org/Gaia/Hacking">Gaia</a></li>
            <li><a href="https://www.mozilla.org/en-US/apps/">Open Web Apps / Marketplace</a></li>
          </ul>
        </li>
        <li >Social Identity Lock-in
          <ul>
            <li><a href="https://persona.org">Persona</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>

<!-- End slides. -->


<!-- Begin extension snippets. Add or remove as needed. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
	<span class="deck-status-current"></span>
	/
	<span class="deck-status-total"></span>
</p>

<!-- deck.goto snippet -->
<form action="." method="get" class="goto-form">
	<label for="goto-slide">Go to slide:</label>
	<input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
	<datalist id="goto-datalist"></datalist>
	<input type="submit" value="Go">
</form>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

<!-- End extension snippets. -->


<!-- Required JS files. -->
<script src="jquery-1.7.2.min.js"></script>
<script src="core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="extensions/hash/deck.hash.js"></script>
<script src="extensions/menu/deck.menu.js"></script>
<script src="extensions/goto/deck.goto.js"></script>
<script src="extensions/status/deck.status.js"></script>
<script src="extensions/navigation/deck.navigation.js"></script>
<script src="extensions/scale/deck.scale.js"></script>
<script src="extensions/deck.iframes.js"></script>
<script src="extensions/codemirror/codemirror.js"></script>
<script src="extensions/codemirror/deck.codemirror.js"></script>
<script src="extensions/codemirror/mode/python/python.js"></script>
<script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
<script src="/deckjs-remote.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
	$(function() {
		$.deck('.slide');
    $.deck('remote', { server: 'pyark.jit.su' });
    $.deck('iframes');
	});
  var key_theme_array = {};
  key_theme_array['49'] = 'default';
  key_theme_array['50'] = 'firefox';
  key_theme_array['51'] = 'light';
  key_theme_array['52'] = 'dark';
  key_theme_array['53'] = 'aurora';
  key_theme_array['54'] = 'nightly';
  $(document).ready(function(){
    $('a').each(function() {
      $(this).attr('target', '_blank');
    });
    $(this).keyup(function(e){
      if (key_theme_array.hasOwnProperty(e.which)) {
        var theme_css = 'themes/style/mozilla/sandstone.' + key_theme_array[e.which] + '.css';
        $('#theme').attr('href', theme_css);
      }
    });
  });
</script>
</body>
</html>
